<%- include('./partials/head') %>
<body>
  <%- include('./partials/header') %>
  <main>
    <div class="container-form">
      <h1>Agregar nuevo producto</h1>
      <form action="/product/addProduct" method="POST" class="registration-form" enctype="multipart/form-data" id="registration-form">
        <div class="form-group">
          <input type="text" name="name" id="name" placeholder="" required>
          <label for="name"> Nombre del producto</label>
          <div class="error-message" id="error-name"></div>
        </div>
        <div class="form-select">
          <label for="marca">Marca del producto</label>
          <select name="marca" id="marca"> 
            <option value="0">Seleccione una marca ...</option>       
          <% for( let i = 0; i < marcas.length; i++ ) { %>
            <option value="<%= marcas[i].marks_id %>"><%= marcas[i].marks_description %></option>
          <% } %>
          </select>
          <div class="error-message" id="error-marca"></div>
        </div>
        <div class="form-group">          
          <input name="description" placeholder="" required></input>
          <label for="description">Descripcion</label>
          <div class="error-message" id="error-description"></div>
        </div>
        <div class="form-group">          
          <input type="text" name="price" placeholder="" required>
          <label for="price">Precio</label>
          <div class="error-message" id="error-price"></div>
        </div>
        <div class="form-group">          
          <input type="text" name="discount" placeholder="" required>
          <label for="discount">Descuento</label>
          <div class="error-message" id="error-discount"></div>
        </div>
        <label for="category">Categoría</label>
        <div class="form-select">
          <% for( let i = 0; i < categorias.length; i++ ) { %>
            <div>
              <input type="radio" value="<%= categorias[i].categories_id %>" name="category" id="<%= categorias[i].categories_id %>"> 
              <label for="<%= categorias[i].categories_id %>"><%= categorias[i].categories_description %></label>
            </div>            
          <% } %>
          <div class="error-message" id="error-category"></div>
        </div>
        <div class="form-image" placeholder="" required>
          <label for="image"> Subir imagen:</label>          
          <input type="file" name="image" id="image" accept=".jpg, .jpeg, .png, .webp"> 
          <div class="error-message" id="error-image"></div>         
        </div>
        <div class="product-add-actions">
          <button type="submit" class="form-button">Agregar</button>
          <button type="reset" class="form-button">Limpiar</button>
        </div>
      </form>

    </div>

 </main> 

  <%- include('./partials/footer') %>  
  
  <script src="/js/productoValidacion.js"></script>
</body>
</html>