<%- include('./partials/head') %>
<body>
  <%- include('./partials/header') %>
  <main>
    <% if (typeof success !== 'undefined') { %>
      <div class="alert alert-success" id="success-message" role="alert">
        <%= success %>
      </div>
    <% } %>
    <div class="container-form">
      <h1>Agregar nuevo producto</h1>
      <form action="/product/addProduct" method="POST" class="registration-form" enctype="multipart/form-data" id="registration-form">
        <div class="form-group">
          <input type="text" name="name" id="name" placeholder="" 
          class="<%= locals.errors && errors.name 
                ? 'is-invalid' 
                : null 
                %>" value="<%= locals.oldData ? oldData.name : null %>">
          <label for="name"> Nombre del producto</label>
          <div class="error-message" id="error-name"></div>
          <% if (locals.errors && errors.name) { %>
            <div class= "error-msg" id="error-name-msg">
                <%= errors.name.msg %>               
            </div>
          <% } %>
          </div>
        <div class="form-select">
          <label for="marca">Marca del producto</label>
          <select name="marca" id="marca"  
          class="<%= locals.errors && errors.name 
                ? 'is-invalid' 
                : null 
                %>"> 
            <option value="0">Seleccione una marca ...</option>       
          <% for( let i = 0; i < marcas.length; i++ ) { %>
            <option value="<%= marcas[i].marks_id %>"><%= marcas[i].marks_description %></option>
          <% } %>
          </select>
          <div class="error-message" id="error-marca"></div>
          <% if (locals.errors && errors.marca) { %>
            <div class= "error-msg" id="error-marca-msg">
                <%= errors.marca.msg %>               
            </div>
        <% } %>
        </div>
        <div class="form-group">          
          <input name="description"  id="description"placeholder="" 
          class="<%= locals.errors && errors.name
                ? 'is-invalid' 
                : null 
                %>" value="<%= locals.oldData ? oldData.description : null %>"
          ></input>
          <label for="description">Descripcion</label>
          <div class="error-message" id="error-description"></div>
          <% if (locals.errors && errors.description) { %>
            <div class= "error-msg" id="error-description-msg">
                <%= errors.description.msg %>               
            </div>
        <% } %>
        </div>
        <div class="form-group">          
          <input type="text" name="price" id="price" placeholder="" 
          class="<%= locals.errors && errors.name 
                ? 'is-invalid' 
                : null 
                %>" value="<%= locals.oldData ? oldData.price : null %>">
          <label for="price">Precio</label>
          <div class="error-message" id="error-price"></div>
          <% if (locals.errors && errors.price) { %>
            <div class= "error-msg" id="error-price-msg">
                <%= errors.price.msg %>               
            </div>
        <% } %>
        </div>
        <div class="form-group">          
          <input type="text" name="discount" id="discount" placeholder="" 
          class="<%= locals.errors && errors.name 
                ? 'is-invalid' 
                : null 
                %>" value="<%= locals.oldData ? oldData.discount : null %>">
          <label for="discount">Descuento</label>
          <div class="error-message" id="error-discount"></div>
          <% if (locals.errors && errors.discount) { %>
            <div class= "error-msg" id="error-discount-msg">
                <%= errors.discount.msg %>               
            </div>
        <% } %>
        </div>
        <label for="category">Categoría</label>
        <div class="form-select">
          <% for( let i = 0; i < categorias.length; i++ ) { %>
            <div>
              <input type="radio" value="<%= categorias[i].categories_id %>" name="category" id="<%= categorias[i].categories_id %>"> 
              <label for="<%= categorias[i].categories_id %>"><%= categorias[i].categories_description %></label>
            </div>            
          <% } %>
          <div class="error-message" id="error-category"></div>
          <% if (locals.errors && errors.category) { %>
            <div class= "error-msg" id="error-category-msg">
                <%= errors.category.msg %>               
            </div>
        <% } %>
        </div>
        <div class="form-image" placeholder="" 
        class="<%= locals.errors && errors.name 
                ? 'is-invalid' 
                : null 
                %>" value="<%= locals.oldData ? oldData.image : null %>">
          <label for="image"> Subir imagen:</label>          
          <input type="file" name="image" id="image" accept=".jpg, .jpeg, .png, .webp"> 
          <div class="error-message" id="error-image"></div>   
          <% if (locals.errors && errors.image) { %>
            <div class= "error-msg" id="error-image-msg">
                <%= errors.image.msg %>               
            </div>
          <% } %>      
        </div>
        <div class="product-add-actions">
          <button type="submit" class="form-button">Agregar</button>
          <button type="reset" class="form-button">Limpiar</button>
        </div>
      </form>

    </div>

</main> 

  <%- include('./partials/footer') %>  
  <script>
window.onload = function() {


  const successMessage = document.getElementById('success-message');
        if (successMessage) {
            setTimeout(function() {
                successMessage.style.display = 'none';
            }, 5000); // 5000 milisegundos = 5 segundos
        }


    const fields = [
        { errorId: 'error-name-msg', inputId: 'name' },
        { errorId: 'error-marca-msg', inputId: 'marca' },
        { errorId: 'error-description-msg', inputId: 'description' },
        { errorId: 'error-price-msg', inputId: 'price' },
        { errorId: 'error-discount-msg', inputId: 'discount' },
        { errorId: 'error-category-msg', inputId: 'category' },
        { errorId: 'error-image-msg', inputId: 'image' }
        
    ];

    fields.forEach(field => {
        const errorElement = document.getElementById(field.errorId);
        const inputElement = document.getElementById(field.inputId);

        if (errorElement) {
            setTimeout(function() {
                errorElement.style.display = 'none';  
                inputElement.style.backgroundColor = 'white';
            }, 5000); // 5000 milisegundos = 5 segundos
        }
    });
};



  </script>
  <script src="/js/productoValidacion.js"></script> 
</body>
</html>