<%- include('./partials/head') %>
<body>
  <%- include('./partials/header') %>
  <div class="container">
  <h1>Carrito de compras</h1>
  <% if (cart && cart.length > 0) { %>
      <table id="cart-table">
          <thead>
              <tr>
                <th>Imagen</th>
                  <th>Producto</th>
                  <th>Precio</th>
                  <th>Cantidad</th>
              </tr>
          </thead>
          <tbody>
              <% 
              let total = 0; 
              const uniqueProductIds = new Set();
              cart.forEach(product => {
                  if (!uniqueProductIds.has(product.products_id)) {
                      %>
                      <tr>
                        <td><img class="product-image" src="/img/products/<%= product.products_image %>"></td>
                          <td><%= product.products_name %></td>
                          <td class="precio-producto"><%= product.products_price %></td>
                          <td>
                              <button class="restar">-</button>
                              <p class="cantidad-productos">1</p>
                              <button class="sumar">+</button>
                          </td>
                          <td> 
                            <form action="/product/removeCarrito/<%= product.products_id %>?_method=DELETE" method="POST">
                            <button type="submit" class="eliminar">
                         X
                            </button>
                          </form></td>
                      </tr>
                      <%
                      uniqueProductIds.add(product.products_id);
                  }
                  total += parseFloat(product.products_price); 
              });
              %>
          </tbody>
      </table>
      <p id="total">Total: $<span id="total-amount"><%= total %></span></p> 
    </div>
  <% } else { %>
      <p>No hay productos en el carrito.</p>
  <% } %>
  <a href="/">Seguir comprando</a>
  
  <%- include('./partials/footer') %>
  <script src="/js/prueba.js"></script> 
</body>
</html>
