<%- include('./partials/head') %>
<body>
  <%- include('./partials/header') %>
  <main>
    
      <div class="container">

          <h2>Detalle del Producto</h2>
  
          <div class="product-card">
              <!--<a href="/product/productDetail"> -->
                <div class="product-details">
                  <h4>Categoría: <%= producto[0].category; %></h4>
                </div>
                  <div class="product-image">
                      <img src="/img/<%= producto[0].image %>" alt="product-image" height="200px"/>
                  <!--<button class="close-button">X</button> -->
                  <a href="/product/addProduct"><i class="fa-solid fa-plus"></i></a> 
                  <a href="/product/editProduct/:<%= producto[0].id %>"><i class="fa-solid fa-pen-to-square"></i></a>

                  </div>
                  <div class="product-details">
                      <h3 class="product-title"><%= producto[0].name %></h3>
                      <div class="product-actions">
                        <span class="product-price">$ <%= producto[0].price %></span>
                      </div>
                      <div class="cont1">
                          <div class="product-quantity">
                              <button class="decrease-quantity-button">-</button>
                              <span class="quantity">1</span>
                              <button class="increase-quantity-button">+</button>
                              <button class="add-to-cart-button">Agregar</button>
                          </div>
                      </div>
                  </div>
                  <div class="product-details">
                      <h3>Descripcion</h3>
                      <p>
                        <%= producto[0].description %>
                      </p>
      
                  </div>
              <!--</a> -->
          </div>
      </div>

 </main> 

  <%- include('./partials/footer') %>
</body>
</html>