<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <main>
        <div class="carrusel-container">
            <div class="carrusel">
                <ul>
                    <% for(let i = 0; i < 3; i++) { %>
                        <li>
                            <div class="li-container">
                                <img class="carrusel-img" src="/img/<%= banner[i].image %>" alt="<%= banner[i].name %>">
                            </div>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
        <section id="productos-container">
            <h2>Recomendados para vos</h2>
                <% for(let i = 0; i < productos.length; i++) { %>
                    <article class="producto">
                        <a class="producto-a" href="/productDetail/<%= productos[i].id %>">
                            <img src="/img/<%= productos[i].image %>" alt="<%= productos[i].name %>">
                            <div class="producto-nombre-precio-container">
                                <p class="producto-nombre"><%= productos[i].marca %></p>
                                <p class="producto-descripcion"><%= productos[i].description%></p>
                                <p class="producto-precio">$ <%= productos[i].price %></p>
                            </div>
                        </a>
                    </article>
                <% } %>
        </section>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>