<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <main>
        <div class="carrusel-container">
            <h2 id="titulo-carrusel">¡Ofertas!</h2>
            <div class="carrusel">
                <ul>
                    <% for(let i = 0; i < 4; i++) { %>
                        <li>
                            <div class="li-container">
                                <img class="carrusel-img" src="/img/<%= productos[i].image %>" alt="<%= productos[i].name %>">
                                <div class="producto-precio-carrusel">
                                    <h4><%= productos[i].name %></h4>
                                    <p><%= productos[i].price %></p>
                                </div>
                            </div>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
        <section id="productos-container">
            <h2>ÚLTIMAS NOVEDADES</h2>
                <% for(let i = 0; i < productos.length; i++) { %>
                    <article class="producto">
                        <a href="/productDetail/<%= productos[i].id %>">
                            <img src="<%= productos[i].image %>" alt="<%= productos[i].name %>">
                            <div>
                                <h4 class="producto-nombre"><%= productos[i].name %></h4>
                                <p class="producto-precio"><%= productos[i].price %></p>
                            </div>
                        </a>
                    </article>
                <% } %>
        </section>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>